.btn {
  @apply font-bold inline-block px-16 py-5 rounded-md text-center whitespace-nowrap;
  font-size: 16px
}

.btn-red {
  @apply bg-red text-white;
}

.btn-white {
  @apply bg-white text-navy;
}

.btn-white:active,
.btn-white:visited {
  @apply text-navy;
}

.btn-red:active {
  @apply text-white;
}

.btn-red:visited {
  @apply text-white;
}

.btn-white:hover {
  @apply bg-blue-light text-navy;
}

.btn-red:hover {
  @apply bg-red-light text-white;
}
