.nav-links {
  @apply bg-white fixed flex-grow h-screen inset-0 w-full;
}

@screen lg {
  .nav-links {
    @apply bg-transparent h-auto items-center pl-2 pr-2 pt-2 static w-auto;
  }
}

.nav-link {
  @apply block font-bold p-4 text-base text-grey;
}

.contact-link {
  @apply absolute bg-navy mt-12 bottom-0 text-white w-full;
}

@screen lg {
  .nav-link {
    @apply inline-block mt-0;
  }

  .contact-link {
    @apply bg-navy -mt-12 inset-auto pt-16 static text-white w-auto;
  }
}

.nav-link:active,
.nav-link:visited {
  @apply text-grey;
}

.contact-link:active,
.contact-link:visited {
  @apply text-white;
}

.nav-link:hover {
  @apply text-navy;
}

.contact-link:hover {
  @apply text-gold;
}
